/*p
{
    font-family: 'Comfortaa', sans-serif ;
}*/

body{
    background-color: #333;
    color: white;
    font-family: 'Comfortaa', sans-serif ;
}

i{
    font-size: 50px;
}
table{
    letter-spacing: 10px;
}
td{
    border: 5px solid lime;
}
img{
    display: block;
    width: 350px;
    margin: 50px auto;
}
p{
    color: lime;
    font-weight: bold;
}
span{
    background-color: rgba(0,0, 0, .8);
    color:rgb(32, 231, 238) ;
}